name: Integration Test

on:
  workflow_run:
    workflows: ["Deploy to Staging"]
    types:
      - completed

jobs:
  integration-test:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: HTTP 200 check
        run: |
          STATUS=$(curl -o /dev/null -s -w "%{http_code}" http://${{ secrets.STG_HOST }}:8080)
          if [ "$STATUS" -ne 200 ]; then
            echo "Integration test failed"
            exit 1
          fi

      - name: Success
        run: echo "Staging OK！アプリ・DB連携問題なし！"

